# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/angular-app/app/dist
angular-app/app/tmp
angular-app/app/out-tsc
angular-app/app/.angular
# Only exists if Bazel was run
/bazel-out

# dependencies
angular-app/app/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
angular-app/app/.sass-cache
angular-app/app/connect.lock
angular-app/app/coverage
angular-app/app/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
angular-app/app/typings

# System Files
.DS_Store
Thumbs.db

